{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
        <h1>Welcome to Sam's Personal Website</h1>
        <p> Send me a message here!</p>
        <h2>About Me</h2>
        <p> Full name: Samuel Dzialo</p>
        <p> Hometown: North Haven</p>
        <p> Major: CIS</p>
        <h2>Contact Me</h2>
        <p> Cell Phone: 2038152737</p>
        <p> Email: szdzialo@quinnipiac.edu</p>
        <p><a href="{% url 'question_create' %}" class="btn btn-lg btn-primary">Submit question/message</a></p>
</div>
{% endblock %}
